1-اول خطوة ان استدعي  المكتبات

In [1]:
# علي ان استدعي المكتبات التي احتاجها و التي تكون مناسبة لنموذجي
import numpy as np # و هي للاعداد و المصفوفات و اي عمليات حسابيةnumpyمكتبة
import pandas as pd #(الجداول)لتنظيف و تحليل و معالجة البيانات pandas مكتبة
import matplotlib.pyplot as plt #و هي التي تساعدني على الرسم
#و هنا هذه المكتبات التي احتاجها في النموذج و ليس فقط الاستكشاف و التنظيف
# و اولها هنا هذه المكتبة التي نقوم من خلالها بتقسيم البيانات
from sklearn.model_selection import train_test_split
#و هذه الخوارزمية الخاصة للانحدار اللوجستي
from sklearn.linear_model import LogisticRegression
#و هذه لكي نقيس دقة النموذج
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

2- الخاص بي و استدعي ملف البيناتdriveوبعدها سوف اتصل بال

In [2]:
# driveانو يسمحلي اتصل ب colab هون انا بحكي ل
# mount driveباستخدم commandsو هاد لاشي من خلال انا من عند
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#لقراءة ملف البيانات الخاص بي
df=pd.read_csv('//content/drive/MyDrive/AI/healthcare-dataset-stroke-data.csv')

3-و الان سوف أبدأ بان استكشف بياناتي و أفهمها

In [4]:
#وهنا اعرف ما هي حجم بياناتي فمن خلال اشوف عدد الاعمدة و الصفوف
print("Dataset shape:")
df.shape
#و ايضا فيمكن استخدام كل من :
#df.shape[0]   #و هي لعرض عدد الصفوف فقط
#df.shape[1]   #لعرض عدد الاعمدة فقط

Dataset shape:

(5110, 12)

In [5]:
#و في هذه الخطوة نعرف ما هي اسماء الاعمدة و يصبح لنا تصور لطبيعة البيانات و يمكن فهمها اكثر
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [6]:
#و هنا لنعرض ما اهي انواع البيانات في كل عامود
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [7]:
#فهي تعطيني اسماء الاعمدة و نوع البيانات الموجوده بها و ايضا عدد البيانات في كل عامود اي اعرف اذا كان هناك نقص في  البياناتinfoولكن فعندما استخدم
#لكن بالطبع هم مهمين لانرتب افكارنا بشكل مبدأي و بعدها نتعمق بالبيانات بشكل أكبر  ، columns وdtypes اي فانها تعمل عمل كل من
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [8]:
# (5)فهو يظهر اول الصفوفheadو من خلال اسخدام ال
print(" first 5 rows :")
df.head()

 first 5 rows :

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [9]:
#(5)باخد بيانات من اخر الصفوف tailمن خلال
print("Last 5 rows:")
df.tail()

Last 5 rows:

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [10]:
 #و هو لعمل وصف احصائي للبيانات
 #نعرف عدد القيم الموجودة اي بدون اي فرغات  countو هنا أولا من خلال
 # نعرف عدد القيم المختلفة ، و هنا فيما يخص النصوص uniqueو من خلال
 #فهي عدد مرات تكرارهاfreqو هي أكثر قيمة متكررة أما   top
 #المتوسط الحسابي اي متوسط الشيء فمثلا العمر 43.22 فهذا المتوسط فيوجد اكثر و أقل فتكون المعادلة مجموع القيم تقسيم عدد القيم  mean
 # Outliersالانحراف المعياري اي كمية قديش البيانات متشتته و بالتالي نعرف اذا كان هناك std
 #فيجب ان يكون مقدار التشتت قريب من الوسيط الحسابي meanبال stdو ذلك من خلال ان نقارن ال
 #و هي أصغير قيمة min
 #أكبر قيمة max
 #Outliersو ايضا فمن خلالهم و القيم % نعرف اذا كان هناك

df.describe(include='all')

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,5110.000000,5110,5110.000000,5110.000000,5110.000000,5110,5110,5110,5110.000000,4909.000000,5110,5110.000000
unique,NaN,3,NaN,NaN,NaN,2,5,2,NaN,NaN,4,NaN
top,NaN,Female,NaN,NaN,NaN,Yes,Private,Urban,NaN,NaN,never smoked,NaN
freq,NaN,2994,NaN,NaN,NaN,3353,2925,2596,NaN,NaN,1892,NaN
mean,36517.829354,NaN,43.226614,0.097456,0.054012,NaN,NaN,NaN,106.147677,28.893237,NaN,0.048728
std,21161.721625,NaN,22.612647,0.296607,0.226063,NaN,NaN,NaN,45.283560,7.854067,NaN,0.215320
min,67.000000,NaN,0.080000,0.000000,0.000000,NaN,NaN,NaN,55.120000,10.300000,NaN,0.000000
25%,17741.250000,NaN,25.000000,0.000000,0.000000,NaN,NaN,NaN,77.245000,23.500000,NaN,0.000000
50%,36932.000000,NaN,45.000000,0.000000,0.000000,NaN,NaN,NaN,91.885000,28.100000,NaN,0.000000
75%,54682.000000,NaN,61.000000,0.000000,0.000000,NaN,NaN,NaN,114.090000,33.100000,NaN,0.000000
max,72940.000000,NaN,82.000000,1.000000,1.000000,NaN,NaN,NaN,271.740000,97.600000,NaN,1.000000

In [11]:
#لمعرفة كم قيمه مختلفة في كل عامود
#و بالتالني نعرف اذا كان هناك قيم لا نحتاجها في عامود محدد
#و قد استخدت من خلال الوصف الاحصائي سابقا و لكن قد عرضتها منفصلة
df.nunique()

id                   5110
gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [12]:
#و هنا لاعرف عدد الصفوف المتكررة و التي سوف يعبر عنها برقم
#و هنا لكل سطر يكون يوجد كتركيبة و في النهاية يوجد عدد تكرار السطر
df.value_counts()
#و حتى فهناك طريقة اخر لمعرف مجمل العدد للتكرار باكمله من خلال
#و هو لمعرفة عدد القيم المتكررة او الصفوف المتكرة
df.duplicated().sum()

np.int64(0)

In [13]:
#لمعرفة عدد القيم الفارغة
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

4-و الان بعد ان استكشفت البيانات بعمق فعلي تنظيفها

In [14]:
#لانه لا يؤثر على النموذج و لا نحتاجهidو أول خطوة سوف أبدأ بها و هي ان احذف عمود
#و قد تأكدة من خلالنه انه لا يوجد اي تكرارات
df = df.drop('id', axis=1)

In [15]:
#و العمود الذي يليه و هو العمر و بما أن فيه 3 قيم اريد أن اعرف القيمة الثاله و هي أخرى ما عددها لان اذا كثيره سوف أعوضها اما اذا قليلة ممكن حذفها
df['gender'].value_counts()
#و بما أن قيمة أخرى فقط واحدة من نسبة البيانات و هي تقريبا 5000 اذا فيمكنني حذها دون تأثير على البيانات
df = df[df['gender'] != 'Other']
#df['gender'].value_counts()#للتأكد

In [16]:
# و بالنسبة الى عمود العمر فلاحظت من خلال التحليل و معرفة اقل قيمة ان هناك قيم أقل من سنة أي أشهر اذا هاد رقم مش منطقي لمرض سكتات دماغية
#و أولا يجس ان اعرف ما هي نسبتهم لكي أعرف اعوضهم بقيمة أخرى أو أحذفهم من خلال :
df[df['age'] < 1].shape[0]
#و بما أن الرقم صغير جدا بالنسبة لكمية البيانات فهوأقل من 1% و لهذا فقررت أن احذفهم
#لان حتى تعويضهم مثلا لسنه واحده ممكن ان سبب قيم شاذه
df = df[df['age'] >= 1]
#df['age'].min()#للتأكد

In [17]:
#و العمود الذي يليه و هو طبيعه العمل و أولا سوف أرى الفئات لان هناك 5 فئات
df['work_type'].value_counts()
#فأجد ان فئة لم يعمل قليله جدا و هي مصنفة كفئة لوحدها و لهذا قررت أن أدمجها مع فئة الأطفال لانهم بالطبع لم يعملو و بهذا لن يتأثر النموذج بل هذا أفضل
# دمج Never_worked مع children
df['work_type'] = df['work_type'].replace({'Never_worked': 'children'})
#df['work_type'].value_counts()#للتأكد

In [18]:
# 106meanو بالنسبة لعمود مستوى الجلوكوز فعندما عملت سابقا وصف اصائي في استكشاف البيانات تبين لي ان هناك قيم شاذه فقد كان ال
#45 stdو كان ال
#و لكن فكانت أعلى قيمه 271
#و لهذا فسوف اعوض اي قيم اكبر من 169 بالوسيط و بهذا احافظ على البيانات دون حذفها و يحسن من النموذج
#و أولا نحسب الوسيط
median_glucose = df['avg_glucose_level'].median()

# و هنا نستبدل القيم الشاذة بالوسيط
#لانها للقيم الشاذهapplyو استخدمت
#169و اما الرقم فعندما أجمع الوسط الحسابي بضرب الانحراف مرتين فهو يساوي
df['avg_glucose_level'] = df['avg_glucose_level'].apply(
    lambda x: median_glucose if x > 169.3 else x
)

#df['avg_glucose_level'].describe()#للتأكد

In [19]:
#و بالنسبة لعمود كتلة الجسم فقد كان به قيم فارغه و لهذا فقررت أن أعوضها بالمتوسط و بهذا فتكون مناسبة
df['bmi'] = df['bmi'].fillna(df['bmi'].mean())
df['bmi'] = df['bmi'].round(2)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,91.89,36.60,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,91.89,28.99,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.50,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,91.89,34.40,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,91.89,24.00,never smoked,1

In [20]:
#و بالنسبة لعمود التدخين و الذي فيه 4 قيم و بينها انه غير معروف و لهذا فعلي ان اعوضها بقيمة محددة
df['smoking_status'].value_counts()
#و بالنظر الي كميتها فهي كبيرة و بالتاكيد لا يمكن حذفها و لهذا سوف اعوضها باكثر قيمة تكرارا و اجد ان هذا منطقي أكثر
#و لهذا علي ان اعرف اي قيمة أكثر تكرار أولا من خلا
mode_smoke = df['smoking_status'].mode()[0]
# و بعدها نستبدل القيمة بالmode
df['smoking_status'] = df['smoking_status'].replace('Unknown', mode_smoke)

# التأكد من النتائج
df['smoking_status'].value_counts()

smoking_status
never smoked       3393
formerly smoked     884
smokes              789
Name: count, dtype: int64

5-و بما أن نظامي هو الانحدار اللوجستي أي ان القيم يجب ان تكون رقمية و لهذا فسوف احول الأعمدة لدي الى قيم رقمية ليفهمها

In [21]:
# و الأن سوف احول الاعمدة الى ارقام بالكامل لكي تفهمها الخوارزمية
#  الى رقم بما انه ذكر و انثى gender أولا ان احول عمود
df['gender'] = df['gender'].map({'Female':0, 'Male':1})
# الى رقم بما انه نعم و لا ever_marriedو ايضا تحويل
df['ever_married'] = df['ever_married'].map({'No':0, 'Yes':1})
# بما ناه ريفي و حضري فقط  Residence_typeو ايضا تحويل
df['Residence_type'] = df['Residence_type'].map({'Rural':0, 'Urban':1})

In [22]:

#و بالنسبة الى عمود العمل و التدخين و التي بها العديد من القيم النصية
#فنحول القيم لارقام و نحدد ان نريد هذه الاعمدة بين اولا فمن خلال
#و حذفت اول فئة لكل عمود لتجنب التكرار
#فهو ياخذ كل نص في العمود و يصنع له عمود جديد باسمه و بهذا فمثلا عمود العمل يصبح لكل فئة عمود لوحدها لاستطيع ان احوله على 0 و 1get_dummiesو من خلال
df = pd.get_dummies(df, columns=['work_type','smoking_status'], drop_first=True)
#و لهذا فاحتاج الى ان احولخها ل1 و 0من خلالtrue , falseو الان تم تقسيم الاعمدة و تحولت الى
bool_cols = df.select_dtypes(include='bool').columns  # يلتقط كل الأعمدة True/False
df[bool_cols] = df[bool_cols].astype(int)
df.head()

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_never smoked,smoking_status_smokes
0,1,67.0,0,1,1,1,91.89,36.60,1,1,0,0,0,0
1,0,61.0,0,0,1,0,91.89,28.99,1,0,1,0,1,0
2,1,80.0,0,1,1,0,105.92,32.50,1,1,0,0,1,0
3,0,49.0,0,0,1,1,91.89,34.40,1,1,0,0,0,1
4,0,79.0,1,0,1,0,91.89,24.00,1,0,1,0,1,0

In [23]:
#و الان بعد ان انتهيت من استكشاف و تنظيف و ترميز البيانات سوف اصدر نسخة جديده من البينات بعد تنظيفها
#from google.colab import files
#files.download('cleaned_stroke_data.csv')

6-و بعد ان اصبحت بياناتي جاخهزة يمكنني البدء ببناء النموذج

In [24]:
#x,yو أول خطوة اقوم بها هي ان احدد ال
#و هنا احدد المتغير الهدف الذي اريد ان اتنبأ به و هو حدوث السكتة الدماغية
y = df['stroke']
#و هنا احدد المتغيرات المستقلة و هي جميع الاعمدة ما عدا الهدف
x = df.drop('stroke', axis=1)
#للتأكد
print("Shape of x:")
print(x.shape)
print("Shape of y:")
print(y.shape)

Shape of x:
(5066, 13)
Shape of y:
(5066,)

In [25]:
#و هنا اقوم بتقسيم البيانات الى بيانات تدريب و اختبار
#و استخدمت stratify و لكي احافظ على نفس نسبة الفئات 0 و 1
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size=0.2,
    random_state=33,
# لان البيانات غير متوازنة فان فئة الغير مصابه اكثر بكثير من الصابة stratifyهنا أضفت
    stratify=y
)

#للتأكد من حجم البيانات بعد التقسيم
print("Shape of x_train:", x_train.shape)
print("Shape of x_test:", x_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of x_train: (4052, 13)
Shape of x_test: (1014, 13)
Shape of y_train: (4052,)
Shape of y_test: (1014,)

In [26]:
#و هنا اقوم بإنشاء نموذج الانحدار اللوجستي
# class_weight='balanced'ولكن لان الفئات لدي غير متوازنه فان نسبة المصابين قليله جدا و الغير مصابين كثير فاذا لم نعالجه سوف يحسب ان جميعهم غير مصابين و لهذا فقد استخدمت
model = LogisticRegression(max_iter=999, class_weight='balanced')

#تدريب النموذج
model.fit(x_train, y_train)

LogisticRegression(class_weight='balanced', max_iter=999)

In [27]:
#و هنا اقوم باستخدام النموذج المدرب لعمل تنبؤات على بيانات الاختبار
y_pred = model.predict(x_test)
#و هنا اقوم بحساب دقة النموذج من خلال مقارنة القيم الحقيقية مع القيم المتوقعة
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the model:")
print(accuracy)

Accuracy of the model:
0.7416173570019724

In [28]:

#و هنا احسب مصفوفة الالتباس لمعرفة عدد الحالات الصحيحة و الخاطئة لكل فئة
cm = confusion_matrix(y_test, y_pred)

print("Confusion Matrix:")
print(cm)

#و هنا اعرض تقرير التصنيف الكامل الذي يحتوي على precision و recall و f1-score
report = classification_report(y_test, y_pred)

print("Classification Report:")
print(report)

Confusion Matrix:
[[715 249]
 [ 13  37]]
Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.74      0.85       964
           1       0.13      0.74      0.22        50

    accuracy                           0.74      1014
   macro avg       0.56      0.74      0.53      1014
weighted avg       0.94      0.74      0.81      1014